<!DOCTYPE html>

<html lang="en">

<body>
  Hello
<table id="jsonTable"></table>

</body>

<script>
  var url='/excapData/excap';
  $.getJSON(url, function(data){
      console.log(data);
      var jsonHtmlTable = ConvertJsonToTable(data, 'jsonTable', null, 'Download');
  });

  </script>

</html>
