
<div id="content">
  <div id="container">
    <div class="header">
      <div id="icon_cell">
        <h1>Success!</h1>
        <p>
          Continue on to
          <br>
          <a href={{continue_url}}>{{continue_url}}</a>
        </p>
      </div>

    </div>



      <div id="icon_cell">
        {{#if logout_url}}
          <h1><a href={{logout_url}}>LOGOUT</a></h1>
        {{/if}}
      </div>
      <p>
        Brought to you by <a href="http://www.internetoflego.com" target="blank">InternetOfLego.com</a>
      </p>
      <p>
        <img class="text-center" src="/img/lego-cafe.jpg" style="width:80%; margin:10px;">
      </p>
    </div>
  </div>
  <!-- Small modal -->


  <div class="footer">
    <h3>POWERED BY</h3>
    <img class="text-center" src="/img/cisco-meraki-gray.png" style="width:10%; margin:10px;">
  </div>
</div>
