<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">

    <link rel="stylesheet" href="/css/bootstrap.css"></link>
    <link rel="stylesheet" href="/css/style.css"></link>

    <script type="text/javascript" src='/js/jquery.js'></script>
    <script type="text/javascript" src='/js/bootstrap.min.js'></script>

    <script src="/js/json-to-table.js"></script>

    </head>
</head>
